html,
body {
  height: 100%;
  margin: 0;
}

/* 전체 콘텐츠 영역 */
.app-container {
  display: flex;
  flex-direction: column; /* 세로 방향으로 쌓기 */
  min-height: 100vh; /* 최소 높이를 뷰포트 높이로 설정 */
}

/* 주 내용 영역 */
.main-content {
  flex: 1; /* 남은 공간을 차지 */
  overflow-y: auto; /* 세로 스크롤 가능 */
  /*box-sizing: border-box;  패딩을 포함한 크기 계산 */
}

:root {
  --main-color: #1363df;
  --sub-color: #47b5ff;
  --text-color: #333;
  --base-color: #dff6ff;
  --background-color: #eef2f3;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SUITE-Regular";
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
}

button {
  font-family: "SUITE-Regular";
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: var(--sub-color);
}

.section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header(MainNavi) */
.header {
  /* background-color: #eef2f3; */
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 21;
  display: flex;
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  align-items: center;
}
.header > div {
  display: flex;
  justify-content: space-between; /* 내부 아이템들 간의 간격 조정 */
  align-items: center;
  width: 100%; /* 전체 너비 사용 */
}
.logo {
  font-size: 60px;
  margin-right: 20px;
}

.nav {
  flex: 1;
}
.nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav > ul > li {
  margin: 0px 15px;
  position: relative;
  font-size: 20px;
}

/* Header(HeaderLink) */
.user-menu a {
  transition-duration: 0.3s;
}
.user-menu {
  margin-left: auto; /* 왼쪽 항목을 오른쪽으로 이동 */
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.user-menu li {
  margin-right: 50px;
  font-size: 20px;
}

/* community dropDownMenu */
.community-menu {
  width: 125px;
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  top: 100%; /* 부모 li 아래에 위치 */
  left: 0;
  background-color: white; /* 배경색 */
  border: 1px solid #ccc; /* 테두리 */
  z-index: 1000; /* 메뉴가 다른 요소 위에 오도록 */
}
.nav li:hover .community-menu {
  display: block; /* hover 시 표시 */
}
.community-menu li {
  padding: 10px;
}
.community-menu li:hover {
  background-color: #f0f0f0; /* hover 시 배경 색 변경 */
}

/* Footer */
.footer {
  background-color: #dff6ff;
  padding: 20px;
  width: 100%;
}
.footer > div > p {
  margin: 10px 0px;
  font-family: ns-b;
  font-size: 16px;
}
.footer > div {
  max-width: 1400px;
  padding: 20px 10px;
}
.footer > div > ul {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 20px;
}
.footer > div > ul > li {
  float: left;
  padding-right: 20px;
}
