/* CityDetail.css */
.city-detail {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.planner-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.detail-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 657px;
}

.city-detail-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: #1363df;
}

.trip-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trip-form label {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

.trip-form input[type="text"],
.trip-form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
}

.date-inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.trip-btn {
  padding: 12px 20px;
  background-color: #1363df;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.trip-btn:hover {
  background-color: #1363df;
}
