.city-detail {
  font-family: Arial, sans-serif;
  height: 1200px;
  background-color: #dff6ff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}
.detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.city-detail-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}
.trip-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
}
.trip-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.date-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.date-inputs label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.create-trip-btn {
  padding: 10px;
  width: 100%;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
