.city-detail {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.detail-content {
  background-color: #f8fbfc; /* 밝은 배경 강조 */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

/* 도시 이름, 타이틀 */
.detail-content h1 {
  font-size: 36px;
  text-align: center;
  color: #1363df;
  margin-bottom: 20px;
}

/* 이미지 */
.city-detail-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 여행 제목 입력 */
.trip-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trip-form label {
  font-size: 18px;
  font-weight: bold;
  color: #47b5ff;
  margin-bottom: 10px;
}

.trip-form input[type="text"],
.trip-form input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #47b5ff;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.trip-form input[type="text"]:focus,
.trip-form input[type="date"]:focus {
  outline: none;
  border-color: #47b5ff;
}

/* 여행 일정 만들기 버튼*/
.trip-btn {
  background-color: #1363df;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.trip-btn:hover {
  background-color: #47b5ff;
  transform: translateY(-3px);
}

.trip-btn:active {
  transform: translateY(0);
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .detail-content {
    padding: 20px;
  }

  .detail-content h1 {
    font-size: 28px;
  }

  .trip-form input[type="text"],
  .trip-form input[type="date"] {
    font-size: 16px;
  }

  .trip-btn {
    font-size: 16px;
  }
}
