.schedule-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  flex: 1; /* 콘텐츠 영역이 전체를 차지하도록 설정 */
}

.itinerary-panel {
  flex: 0 0 300px; /* 좌측 패널의 너비 고정 */
  background-color: #fafafa;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-top: auto; /* 버튼들을 하단으로 이동시킴 */
}

.save-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.save-btn:hover {
  background-color: #0056b3;
}

.map-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.map {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.search > input {
  padding: 10px;
  margin: 50px 10px;
  border-radius: 30px;
}
.itinerary {
  width: 300px;
  margin: 10px;
}
.itinerary,
.add-itinerary-btn {
  margin: 0 10px;
}
.itinerary > input {
  padding: 9px;
  border-radius: 30px;
}
.schedule-list > h3,
.schedule-list > h4 {
  text-align: center;
}
.schedule-plan {
  border-bottom: 1px solid #000;
}

.plan-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-list > li {
  border: 1px solid var(--main-color);
  width: 80px;
  padding: 10px;
  color: var(--main-color);
  font-weight: 600;
  border-radius: 15px;
}
.plan-list > li:hover {
  cursor: pointer;
}
.plan-list > li:nth-child(2) {
  border-right: none;
  border-radius: 15px;
}
.plan-list > li:nth-child(4) {
  border-left: none;
  border-radius: 15px;
}
.plan-list .selected-day {
  background-color: var(--main-color);
  color: white;
  border-radius: 15px;
}
.plan-list > li:first-child {
  border: none;
  padding: 0;
  width: 30px;
}
.plan-list > li:last-child {
  border: none;
  padding: 0;
  width: 30px;
}
.plan-list .day-item {
  color: var(--background-color);
}
.plan-list .active {
  color: var(--main-color);
}
