<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.user.model.dao.UserDao">
	<select id="checkEmail" resultType="int">
		select count(*) from user_tbl where user_email = #{userEmail}
	</select>
	<select id="checkNick" resultType="int">
		select count(*) from user_tbl where user_nick = #{userNick}
	</select>
	<select id="checkPhone" resultType="int">
		select count(*) from user_tbl where user_phone = #{userPhone}
	</select>
	<insert id="joinUser">
		insert into user_tbl values(user_seq.nextval, #{userEmail}, #{userPw}, #{userName}, #{userPhone}, #{userNick}, #{userType}, null, #{businessRegNo})
	</insert>
	<select id="selectOneUser" resultType="user">
		select * from user_tbl where user_email = #{userEmail}
	</select>
	<insert id="joinSocialUser">
		insert into user_tbl values(user_seq.nextval, #{userEmail},null, #{userName}, #{userPhone}, #{userNick}, 1, #{socialType}, null)
	</insert>
	<select id="findEmail" resultType="java.lang.String">
		select user_email from user_tbl where user_name = #{userName} and user_phone = #{userPhone} 
	</select>
	<update id="changePw">
		update user_tbl set user_pw = #{userPw} where user_email = #{userEmail}
	</update>
	<select id="selectUserInfo" resultType="user">
		select user_email, user_name, user_nick, user_phone,social_type from user_tbl where user_email = #{userEmail}
	</select>
	<update id="updateUser" parameterType="User">
    	update user_tbl
    <set>
        <if test="userNick != null">user_nick = #{userNick},</if>
        <if test="userName != null">user_name = #{userName},</if>
        <if test="userPhone != null">user_phone = #{userPhone},</if>
    </set>
    	where user_email = #{userEmail}
	</update>
	<delete id="deleteUser">
		delete from user_tbl where user_email = #{userEmail}
	</delete>

	<select id="checkBusinessRegNo" resultType="int">
		select count(*) from user_tbl where business_reg_no = #{businessRegNo}
	</select>
	
	<select id="selectUserByEmail" resultType="int">
		select count(*) from user_tbl where user_email = #{userEmail}
	</select>

	<select id="selectUserEmail" parameterType="String" resultType="user">
        SELECT user_no, user_name, user_email
        FROM user_tbl
        WHERE user_email = #{email}
    </select>
    
    <select id="reportUserTotalCount" resultType="int">
		select
		    count(*) as total_users
		from (
		    select 
		        b.board_writer as user_nick, 
		        count(b.board_no) as inactive_boards, 
		        u.user_type, 
		        u.user_email
		    from
		        board b
		    join 
		        user_tbl u on b.board_writer = u.user_nick
		    where 
		        b.board_status = 0
		    group by
		        b.board_writer, 
		        u.user_type, 
		        u.user_email
		    having 
		        count(b.board_no) >= 2
		)
	
	</select>
	
	<select id="selectReportUserList" resultType="user">
		select * from (
		    select 
		        rownum as rnum, 
		        user_nick, 
		        inactive_boards, 
		        user_type, 
		        user_email
		    from (
		        select 
		            b.board_writer as user_nick, 
		            count(b.board_no) as inactive_boards, 
		            u.user_type, 
		            u.user_email
		        from board b
		        join user_tbl u on b.board_writer = u.user_nick
		        where b.board_status = 0
		        group by
		            b.board_writer, 
		            u.user_type, 
		            u.user_email
		        having count(b.board_no) >= 2
		        order by b.board_writer
		    ) result
		) 
		where rnum between #{start} and #{end}
	</select>
	
	<update id="suspendUser" >
		update user_tbl set user_type = 4 where user_email = #{userEmail}
	</update>
</mapper>
