.page-title {
  text-align: center;
  font-family: "TTLaundryGothicB";
}
.join-frm {
  margin: 0 auto;
  background-color: var(--base-color);
  width: 800px;
  border-radius: 30px;
  padding: 15px;
}
.logo-box {
  width: 200px;
  height: 200px;
  background-color: var(--main-color);
  margin: 10px auto;
}
.select-box {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
.select-box > label {
  padding: 5px;
}
.input-group {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  margin-bottom: 15px;
}
.input-box {
  height: 40px;
}
.check {
  display: none;
}
.label-box {
  margin-bottom: 10px;
}
.label-box > label {
  font-weight: 900;
}
.input-box > input {
  width: 60%;
  height: 80%;
}

.button-box {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.button-box > button {
  width: 100px;
  margin: 0px 10px;
}
.verify-btn {
  width: 120px !important;
}
.verify-box {
  margin-top: 20px;
}
.join-btn-box {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
.join-btn-box > button {
  font-family: "SUITE-Regular";
  width: 200px;
  font-weight: 700;
}

.valid {
  color: green;
}
.invalid {
  color: red;
}

.hidden {
  display: none;
}

.pw-group {
  margin-bottom: 15px;
}

.login-box {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: var(--base-color);
  padding: 20px;
}

.img-box {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.login-input-group {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

.login-btn-box {
  margin: 0 auto;
  text-align: center;
}

.login-btn {
  width: 336px;
}

.menu-box {
  width: 336px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.naver-login-box {
  margin-top: 15px;
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
}
