.page-title {
  text-align: center;
  font-family: "TTLaundryGothicB";
}
.join-frm {
  margin: 0 auto;
  background-color: var(--base-color);
  width: 1000px;
  height: 800px;
  border-radius: 30px;
  padding: 15px;
}
.logo-box {
  width: 200px;
  height: 200px;
  background-color: var(--main-color);
  margin: 0 auto;
}
.select-box {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
.select-box > label {
  padding: 5px;
}
