<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.board.model.dao.BoardDao">
  	<select id="totalCount" resultType="int">
  		select count(*) from board where board_status = 1 and board_type = 1
  	</select>
  	
  	<select id="selectBoardList" resultType="board">  		
	  	select * from 
	  		(select rownum as rnum, b.* from 
	  			(select 
	  				board_no,
	  				board_writer,
	  				board_title,
	  				board_category,
	  				to_char(board_date,'yyyy-mm-dd') as board_date,
	  				board_readCount,
	  				like_count
	  				from board where board_status = 1 and board_type = 1 order by board_no desc)b) 
	  				where rnum between #{start} and #{end}
  	</select>
  	
  	<insert id="insertBoard">
  		insert into board values(board_seq.nextval,#{boardWriter},#{boardTitle},#{boardContent},sysdate,#{boardCategory},0,1,1)
		<selectKey resultType="int" keyProperty="boardNo" order="AFTER" >
			select max(board_no) from board
		</selectKey>
  	</insert>
  	<insert id="insertBoardFile">
  		insert into board_file values(board_file_seq.nextval,#{boardNo},#{filename},#{filepath})
  	</insert>
  	
  	<select id="selectOneBoard" resultMap="getBoard">
		select 
			board_no,
			board_title,
			board_content,
			board_writer,
			board_status,
			board_readCount,
			board_category,
			like_count,
			to_char(board_date,'yyyy-mm-dd') as board_date
		from board where board_no=#{boardNo}
	</select>
  	<select id="selectOneBoardFileList" resultType="boardFile">
  		select * from board_file where board_no=#{boardNo}
  	</select>
  	
  	<resultMap type="board" id="getBoard">
	<result column="board_no" property="boardNo"/>
	<result column="board_title" property="boardTitle" />
	<result column="board_content" property="boardContent" />
	<result column="board_writer" property="boardWriter"/>
	<result column="board_status" property="boardStatus"/>
	<result column="board_date" property="boardDate"/>
	<result column="board_readCount" property="boardReadCount"/>
	<result column="board_category" property="boardCategory"/>
	<result column="like_count" property="likeCount"/>
	<collection property="fileList"
		 select="selectOneBoardFileList"
		 column="board_no"
		 javaType="java.util.List"
		 ofType="boardFile"
		></collection>
	</resultMap>
	
	<select id="getBoardFile" resultType="boardFile">
		select * from board_file where board_file_no=#{boardFileNo}
	</select>
	
	<delete id="deleteBoard">
		delete from board where board_no=#{boardNo}
	</delete>
	
	<update id="updateBoard">
		update board set 
			board_title=#{boardTitle},
			board_content=#{boardContent},
			board_category=#{boardCategory}
			where board_no=#{boardNo}
	</update>
	
	<select id="selectBoardFile" resultType="boardFile">
		select * from board_file
		where board_file_no in
		<foreach collection="array" item="boardFileNo" open="(" close=")" separator=",">
			#{boardFileNo}
		</foreach>
	</select>
	
	<delete id="deleteBoarFile">
		delete from board_file
		where board_file_no in
		<foreach collection="array" item="boardFileNo" open="(" close=")" separator=",">
			#{boardFileNo}
		</foreach>
	</delete>
	
	<!-- 좋아요 -->
	<insert id="insertLike">
        insert into board_like (user_nick, board_no)
        values (#{userNick}, #{boardNo})
    </insert>

    <delete id="deleteLike">
        delete FROM board_like
        where user_nick = #{userNick} and board_no = #{boardNo}
    </delete>

    <update id="incrementLikeCount">
        update board
        set like_count = like_count + 1
        where board_no = #{boardNo}
    </update>

    <update id="decrementLikeCount">
        update board
        set like_count = like_count - 1
        where board_no = #{boardNo}
    </update>
	
	<update id="updateViewCount">
		update board
		set board_readCount = board_readCount + 1
		where board_no = #{boardNo}
	</update>
	
	<select id="selectBoardById" resultType="board">
		select * from board where board_no = #{boardNo}
	</select>
	
	
	
	
</mapper>
























