<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.product.model.dao.ProductDao">
  
  <select id="totalCount">
  	select count(*) from product where product_status=1
  </select>
  
  <select id="selectProductList" resultType="product">
  	select * from
	    (select rownum as rnum, p.*  from
	        (select
	              product_no,
	              product_name,
	              product_sub_name,
	              product_thumb,
	              product_price,
	              product_info,
			      product_latitude,
			      product_longitude,
	              product_writer,
	              product_status,
	              to_char(enroll_date, 'yyyy-mm-dd') as enroll_date
	         from product where product_status=1 order by product_no desc) p)
	where rnum between #{start} and #{end}
  </select>
  

  <select id="selectProductListEmail" resultType="product">
    SELECT p.*, 
           COALESCE(w.product_like, 0) AS productLike,         -- 좋아요 여부 (0 또는 1)
           COALESCE(likeCount.total_like_count, 0) AS productLikeCount  -- 좋아요 수
    FROM (
        SELECT rownum AS rnum, 
               p.*
        FROM (
            SELECT 
                product_no,
                product_name,
                product_sub_name,
                product_thumb,
                product_price,
                product_info,
                product_latitude,
                product_longitude,
                product_writer,
                product_status,
                TO_CHAR(enroll_date, 'yyyy-mm-dd') AS enroll_date
            FROM product 
            WHERE product_status = 1 
            ORDER BY product_no DESC
        ) p
    ) p
    LEFT JOIN (
        SELECT product_no, user_no, 1 AS product_like 
        FROM wish 
        WHERE user_no = (SELECT user_no FROM user_tbl WHERE user_email = #{userEmail})
    ) w ON p.product_no = w.product_no
    LEFT JOIN (
        SELECT product_no, COUNT(*) AS total_like_count 
        FROM wish 
        GROUP BY product_no
    ) likeCount ON p.product_no = likeCount.product_no
    WHERE rnum BETWEEN #{pi.start} AND #{pi.end}
    <!-- userEmail이 null이 아닐 때만 이 조건을 추가 -->
    <!-- 
    <if test="userEmail != null">
        AND w.product_no IS NOT NULL  
    </if> -->
  </select>
  
  <insert id="insertProduct">
  	insert into product values(product_seq.nextval, #{productName}, #{productSubName}, #{productThumb}, #{productPrice}, #{productInfo}, #{productLatitude}, #{productLongitude}, #{productWriter}, #{productStatus}, sysdate)
  	<selectKey resultType="int" keyProperty="productNo" order="AFTER">
  		select max(product_no) from product
  	</selectKey>
  </insert>
  
  <insert id="insertProductFile">
  	insert into product_file values(product_file_seq.nextval, #{productNo}, #{filename}, #{filepath})
  </insert>
  
  <select id="selectOneProduct" resultMap="getProduct">
  	select 
  		product_no,
        product_name,
        product_sub_name,
        product_thumb,
        product_price,
        product_info,
        product_latitude,
        product_longitude,
        product_writer,
        product_status,
  		to_char(enroll_date, 'yyyy-mm-dd') as enroll_date
  	from product where product_no=#{productNo}
  </select>
  
  <select id="selectOneProductFileList">
  	select * from product_file where product_no=#{productNo}
  </select>
  
  <select id="selectOneUser" resultType="int">
  	select user_no from user_tbl where user_email=#{userEmail}
  </select>
  
  <select id="selectOneProductReviews" resultType="review">
  	SELECT r.* ,
	(SELECT COUNT(*) FROM REVIEW_LIKE WHERE REVIEW_NO = r.REVIEW_NO) AS REVIEW_LIKE_COUNT,
	(SELECT COUNT(*) FROM REVIEW_LIKE WHERE REVIEW_NO = r.REVIEW_NO AND USER_NO = #{userNo}) AS REVIEW_LIKE
	FROM REVIEW r
	WHERE PRODUCT_NO = #{productNo} AND REVIEW_COMMENT_REF IS NULL
	ORDER BY 1
  </select>
  
  <!-- 
  <select id="selectOneProductReviews" resultType="review">
    SELECT
        r.review_no,
        r.product_no,
        r.review_writer,
        r.review_score,
        r.review_content,
        to_char(r.review_date, 'yyyy-mm-dd') AS review_date,
        r.review_comment_ref AS reviewCommentRef,
        NVL(rl.like_count, 0) AS reviewLikeCount,          각 리뷰에 대한 좋아요 수
        NVL(ul.user_like, 0) AS reviewLike                 로그인한 사용자의 좋아요 여부
    FROM
        review r
    LEFT JOIN
        (SELECT review_no, COUNT(*) AS like_count
         FROM review_like
         GROUP BY review_no) rl
    ON r.review_no = rl.review_no
    LEFT JOIN
        (SELECT review_no, 1 AS user_like
         FROM review_like
         WHERE user_no = #{userNo}) ul
    ON r.review_no = ul.review_no
    WHERE r.product_no = #{productNo}
  </select> -->
  
  
  <resultMap type="product" id="getProduct">
  	<result column="product_no" property="productNo" />
  	<result column="product_name" property="productName" />
  	<result column="product_sub_name" property="productSubName" />
  	<result column="product_thumb" property="productThumb" />
  	<result column="product_price" property="productPrice" />
  	<result column="product_info" property="productInfo" />
  	<result column="product_latitude" property="productLatitude" />
  	<result column="product_longitude" property="productLongitude" />
  	<result column="product_writer" property="productWriter" />
  	<result column="enroll_date" property="enrollDate" />
  	<collection property="fileList" 
  				select="selectOneProductFileList"
  				column="product_no"
  				javaType="java.util.List"
  				ofType="productFile"
  	 />
  	 <collection property="reviews"
  	 			 select="selectOneProductReviews"
  	 			 column="product_no"
  	 			 javaType="java.util.List"
  	 			 ofType="productReview"
  	 />
  </resultMap>
  
  <select id="getProductFile" resultType="productFile">
  	select * from product_file where product_file_no=#{productFileNo}
  </select>
  
  <delete id="deleteProduct">
  	delete from product where product_no=#{productNo}
  </delete>
  
  <update id="updateProduct">
  	update product
  	set
  		product_name=#{productName},
  		product_sub_name=#{productSubName},
  		product_thumb=#{productThumb},
  		product_price=#{productPrice},
  		product_info=#{productInfo},
  		product_latitude=#{productLatitude},
  		product_longitude=#{productLongitude},
  		product_status=#{productStatus}
  	where product_no=#{productNo}
  </update>
  
  <select id="selectProductFile" resultType="productFile">
  	select * from product_file
  	where product_file_no in
  	<foreach collection="array" item="productFileNo" open="(" close=")" separator=",">
  		#{productFileNo}
  	</foreach>
  </select>
  
  <delete id="deleteProductFile">
  	delete from product_file
  	where product_file_no in
  	<foreach collection="array" item="productFileNo" open="(" close=")" separator=",">
  		#{productFileNo}
  	</foreach>
  </delete>
  
  
  <!-- 
  insert into book_comment values(book_comment_seq.nextval, ?, ?, to_char(sysdate, 'yyyy-mm-dd'), ?, ?);
   -->
  <!-- 리뷰 등록 -->
  <insert id="insertReview">
  	insert into review values(review_seq.nextval, #{productNo}, #{reviewWriter}, #{reviewScore}, #{reviewContent}, sysdate, null)
  </insert>
  
  <!-- 리뷰 수정 -->
  <update id="updateReview">
  	update review set review_content=#{reviewContent} where review_no=#{reviewNo}
  </update>
  
  <!-- 리뷰 삭제 -->
  <delete id="deleteReview">
  	delete from review where review_no=#{reviewNo}
  </delete>
  
  <!-- 리뷰 좋아요 추가 -->
  <insert id="insertReviewLike">
  	insert into review_like values(#{reviewNo}, #{userNo})
  </insert>
  
  <!-- 리뷰 좋아요 취소 -->
  <delete id="deleteReviewLike">
  	delete from review_like where review_no=#{reviewNo} and user_no=#{userNo}
  </delete>
  
  <!-- 리뷰 좋아요 수 -->
  <select id="selectReviewLikeCount" resultType="int">
  	select count(*) from review_like where review_no=#{reviewNo}
  </select>
  
  <!-- 상품 찜 -->
  <insert id="insertWishLike">
   insert into wish values (#{productNo}, #{userNo})
  </insert>
  
  <!-- 상품 찜 취소 -->
  <delete id="deleteWishLike">
  	delete from wish where product_no=#{productNo} and user_no=#{userNo}
  </delete>
  
  <!-- 상품 찜 수 -->
  <select id="selectProductLikeCount">
  	select count(*) from wish where product_no=#{productNo}
  </select>
  
</mapper>