<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.user.model.dao.UserDao">
	<select id="checkEmail" resultType="int">
		select count(*) from user_tbl where user_email = #{userEmail}
	</select>
	<select id="checkNick" resultType="int">
		select count(*) from user_tbl where user_nick = #{userNick}
	</select>
	<select id="checkPhone" resultType="int">
		select count(*) from user_tbl where user_phone = #{userPhone}
	</select>
	<insert id="joinUser">
		insert into user_tbl values(user_seq.nextval, #{userEmail}, #{userPw}, #{userName}, #{userPhone}, #{userNick}, #{userType}, null, #{businessRegNo})
	</insert>
	<select id="selectOneUser" resultType="user">
		select * from user_tbl where user_email = #{userEmail}
	</select>
	<insert id="joinSocialUser">
		insert into user_tbl values(user_seq.nextval, #{userEmail},null, #{userName}, #{userPhone}, #{userNick}, 1, #{socialType})
	</insert>
	<select id="findEmail" resultType="java.lang.String">
		select user_email from user_tbl where user_name = #{userName} and user_phone = #{userPhone} 
	</select>
	<update id="changePw">
		update user_tbl set user_pw = #{userPw} where user_email = #{userEmail}
	</update>
	<select id="selectUserInfo" resultType="user">
		select user_email, user_name, user_nick, user_phone,social_type from user_tbl where user_email = #{userEmail}
	</select>
	<update id="updateUser">
		update user_tbl set user_name = #{userName}, user_nick = #{userNick}, user_phone = #{userPhone} where user_email = #{userEmail}
	</update>
	<delete id="deleteUser">
		delete from user_tbl where user_email = #{userEmail}
	</delete>
</mapper>
