.page-title {
  width: 1200px;
  font-size: 32px;
}
.customer-content {
  min-height: 300px;
  /* background-color: var(--background-color); */
  border-radius: 15px;
  padding: 30px;
}
.mypage-title {
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
}
.content-wrap {
  margin: 0 auto;
  width: 900px;
  min-height: 500px;
  background-color: var(--base-color);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
}
.write-btn {
  text-align: right;
}
.write-section {
  width: 1200px;
  background-color: var(--background-color);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
}
.page-small-title {
  text-align: center;
  font-size: 18px;
}
.faqboard-tbl {
  border-radius: 8px;
  width: 100%;
  border-spacing: 0;
  padding: 10px;
}
.faqboard-tbl > th {
  padding: 10px;
}
.faqboard-tbl > td {
  padding: 10px;
}
.faqboard-input {
  display: flex;
  gap: 10px;
}
.faqboard-input > input {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 8px 0px;
}
.faqBoard-content {
  width: 100%;
  min-height: 600px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* 세로로만 크기 조정 가능 */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
}

.faqBoard-content:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}
.write-section > table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 20px;
  text-align: center;
}
.write-section > th,
td {
  padding: 12px 15px;
}
.write-section > th {
  background-color: var(--base-color);
  font-weight: bold;
  color: #333;
}
.btn-box {
  text-align: center;
  vertical-align: middle;
}
.btn-box > button {
  display: inline-block;
}
.faqboard-list {
  width: 80%;
  height: 315px;
  background-color: var(--background-color);
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.faqboard-list > table {
  width: 100%;
}
.view-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.view-title:hover {
  cursor: pointer;
}
.faqboard-btn-box {
  text-align: center;
}
.faqboard-btn-box > button {
  margin-right: 15px;
}
.personalboard-section {
  width: 80%;
  height: 300px;
  background-color: var(--background-color);
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.personalboard-write-btn {
  width: 45%;
  height: 250px;
  background-color: var(--sub-color);
  border-radius: 10px;
  line-height: 250px;
}
.personalboard-list {
  width: 80%;
  height: 250px;
  background-color: var(--sub-color);
  border-radius: 10px;
  margin: 0 auto;
}

.personalboard-tbl {
  border-radius: 8px;
  width: 100%;
  border-spacing: 0;
  padding: 10px;
}
.personalboard-tbl > th {
  padding: 10px;
}
.personalboard-tbl > td {
  padding: 10px;
}
.personalboard-input {
  display: flex;
  gap: 10px;
}
.personalBoard-input > input {
  width: 100%;
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 8px 0px;
}
.personalBoard-content {
  width: 100%;
  min-height: 600px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
}

.personalBoard-content:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}
.file-btn {
  font-family: "SUITE-Regular";
  background-color: var(--sub-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.channelTalk-btn {
  position: fixed;
  padding: 0;
  width: 50px;
  height: 50px;
  bottom: 150px;
  right: 290px;
  border-radius: 30px;
}
.channelTalk-btn > img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.personalboard-list > table {
  width: 100%;
}
.answer-section {
  width: 100%;
  min-height: 300px;
  background-color: var(--base-color);
  border-radius: 15px;
  margin-top: 50px;
  padding: 30px;
}
.personalBoard-content {
  width: 100%;
  min-height: 600px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* 세로로만 크기 조정 가능 */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
}
.personalBoard-btn-box {
  text-align: center;
  vertical-align: middle;
}
.personalBoard-btn-box > button {
  width: 100px;
  height: 50px;
  margin-right: 30px;
}
