.page-title {
  width: 1200px;
  font-size: 32px;
}
.main-content {
  min-height: 300px;
  border-radius: 15px;
  padding: 30px;
}
.mypage-title {
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
}
.content-wrap {
  margin: 0 auto;
  width: 900px;
  min-height: 500px;
  background-color: var(--base-color);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
}
.write-btn {
  text-align: right;
}
.write-section {
  width: 1200px;
  background-color: var(--background-color);
  border-radius: 15px;
  padding: 30px;
}
.page-small-title {
  text-align: center;
  font-size: 18px;
}
