:root {
    --main-color: #1363df;
    --point-color: #c57cff;
    --sub-color: #47b5ff;
    --base-color: #dff6ff;
    --background-color: #eef2f3;
    --text-color: #333;
    --black: #000;
    --white: #fff;
    --gray: #ddd;
    --gray2: #777;
}

ul {
    margin: 0;
    padding: 0;
}

.mobile_menu_wrap {
    position: relative;
    /* width: 100%; */
}

#main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    /* max-width: 260px; */
    background-color: rgba(255, 255, 255, 0.8);
    /* transition: 0.5s; */
    transition: width 0.3s ease;
    overflow-x: hidden;
    z-index: 1000;
}

.menu {
    margin-top: 130px;
    padding: 0;
}

.menu ul>li>a {
    display: block;
    padding: 16px 20px;
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.menu ul>li>div {
    display: block;
    padding: 16px 20px;
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.mobile-user-menu>li>a {
    background-color: var(--sub-color);
}

.main-menu>li>a {
    background-color: var(--sub-color);
    /* border-bottom: 1px solid #FF0080; */
}

.main-menu>li:last-child:hover {
    cursor: pointer;
}

.main-menu>li>div {
    background-color: var(--sub-color);
    /* border-bottom: 1px solid #FF0080; */
}

.main-menu>li:hover>a {
    background-color: var(--main-color);
}

.sub-menu {
    display: none;
    /* padding-left: 20px; */
}

.menu .sub-menu>li>.sub-menu>li {
    border-left: 10px solid var(--white);
}

.main-menu>li:hover .sub-menu {
    display: block;
}

.sub-menu>li>a {
    background-color: var(--text-color);
    border-left: 10px solid var(--text-color);
    padding: 12px 20px;
    font-size: 16px;
    transition: border-color 0.3s;
}

/* .sub-menu>li:hover>a {
    border-color: var(--sub-color);
} */

.more {
    position: absolute;
    right: 20px;
    font-size: 20px;
    transition: transform 0.4s;
}

.main-menu>li:hover .more {
    transform: rotate(45deg) !important;
}

.menu-btn {
    width: 60px;
    position: fixed;
    /* absolute → fixed로 바꿈 */
    top: 25px;
    right: 0px;
    font-size: 24px;
    z-index: 1100;
    /* #main-menu (z-index: 1000)보다 더 높게 */
    cursor: pointer;
}

.menu-btn,
.close-btn {
    background-color: transparent !important;
    /* background-color: var(--main-color); */
}

.menu-btn>span,
.close-btn>span {
    color: var(--text-color);
}

.close-btn {
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 1100;
    font-size: 24px;
    cursor: pointer;
}

/* .close-btn {
    position: absolute;
    width: 60px;
    top: 72.25px;
    right: 50px;
    font-size: 24px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--gray2);
} */