/* 임시 */
.section {
  /* background-color: var(--background-color); */
  /* margin: 50px auto; */
}

/* ForeignList */
.foreign-title > h2 {
  text-align: center;
  padding-top: 50px;
}
.foreign-list > h3 {
  text-align: center;
  font-size: 25px;
  margin: 150px;
  color: var(--text-color);
}
.foreign-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.foreign-list li {
  list-style: none;
  margin: 30px;
}
.region-img {
  width: 300px;
  height: 300px;
}
.region-img > img {
  width: 100%;
  height: 100%;
}
.region-title {
  width: 300px;
}
.region-name {
  text-align: center;
}
.country-name {
  text-align: center;
}
.foreign-search-box {
  text-align: center;
  margin: 0 auto;
}
.foreign-search-input {
  width: 500px;
  outline: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid var(--main-color);
  background-color: transparent;
  line-height: 45px;
  font-size: 15px;
  padding-left: 15px;
  font-family: "SUITE-Regular";
}
.foreign-search-input:focus {
  border-color: var(--main-color);
  background-color: transparent;
  box-shadow: none;
}
.foreign-search-box > button {
  margin-left: 20px;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  font-family: "SUITE-Regular";
}
.req-more-button-wrap {
  text-align: right;
  padding: 50px;
}
#req-more-button {
  margin-left: 20px;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  font-family: "SUITE-Regular";
}

/* ItineraryForm */
.itinerary-form {
  width: 850px;
  padding: 50px;
  margin: 20px auto;
  background-color: var(--base-color);
  border-radius: 20px;
}
.foreign-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foreign-info-box > h2 {
  margin: 20px 0;
}
.foreign-info-box > .region-info-box > span {
  margin: 10px;
}
.foregin-itinerary-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.itinerary-input-box {
  padding: 50px 0;
}

.itinerary-input-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.itinerary-input-item > p {
  margin: 0 15px;
}

.itinerary-input {
  width: 300px;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  margin: 10px 0;
  background-color: transparent;
  line-height: 45px;
  font-size: 15px;
  padding-left: 15px;
  font-family: "SUITE-Regular";
}

.create-button-box {
  text-align: center;
  padding: 30px 0;
}
.create-button-box > button {
  margin-left: 20px;
  width: 500px;
  height: 50px;
  box-sizing: border-box;
  font-family: "SUITE-Regular";
}

/* ForeignPlanMain */
.plan-view-wrap {
  overflow: hidden;
}
.plan-view-wrap > div {
  float: left;
  text-align: center;
}
.plan-view-wrap > div > div {
  margin: 20px 0;
}

/* ForeignPlanList */
.plan-list-wrap {
  width: 350px;
}
.plan-map-wrap {
  width: calc(100% - 700px);
}
.edit-itinerary-button {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
}
.daily-plan-list-box > h5 {
  text-align: center;
  color: var(--main-color);
}

/* ForeignRegionInfo */
.plan-region-wrap {
  width: 350px;
}

/* ForeignPlanSearch */
.plan-search-wrap {
  width: 350px;
}

/* ForeignPlanDaysButton */
.plan-dates-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-dates-list > li {
  border: 1px solid var(--main-color);
  width: 80px;
  padding: 10px;
}
.plan-dates-list > li:hover {
  cursor: pointer;
}
.plan-dates-list > li:nth-child(2) {
  border-right: none;
}
.plan-dates-list > li:nth-child(4) {
  border-left: none;
}
.plan-dates-list .selected-day {
  background-color: var(--main-color);
  color: white;
}
.plan-dates-list > li:first-child {
  border: none;
  padding: 0;
  width: 30px;
}
.plan-dates-list > li:last-child {
  border: none;
  padding: 0;
  width: 30px;
}
.plan-dates-list .day-item {
  color: var(--background-color);
}
.plan-dates-list .active {
  color: var(--main-color);
}

/* PlanItem */
.plan-item-list {
  height: 700px;
}
.plan-item {
}
