/* 임시 */
.section {
  /* background-color: var(--background-color); */
  /* margin: 50px auto; */
}

/* ForeignList */
.foreign-title > h2 {
  text-align: center;
  padding-top: 50px;
}
.foreign-list > h3 {
  text-align: center;
  font-size: 25px;
  margin: 150px;
  color: var(--text-color);
}
.foreign-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.foreign-list li {
  list-style: none;
  margin: 30px;
}
.region-img {
  width: 300px;
  height: 300px;
}
.region-img > img {
  width: 100%;
  height: 100%;
}
.region-title {
  width: 300px;
}
.region-name {
  text-align: center;
}
.country-name {
  text-align: center;
}
.foreign-search-box {
  text-align: center;
  margin: 0 auto;
}
.foreign-search-input {
  width: 500px;
  outline: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid var(--main-color);
  background-color: transparent;
  line-height: 45px;
  font-size: 15px;
  padding-left: 15px;
  font-family: "SUITE-Regular";
}
.foreign-search-box > button {
  margin-left: 20px;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  font-family: "SUITE-Regular";
}
.req-more-button-wrap {
  text-align: right;
  padding: 50px;
}
#req-more-button {
  margin-left: 20px;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  font-family: "SUITE-Regular";
}

/* ItineraryForm */
.itinerary-form {
  width: 850px;
  padding: 50px;
  margin: 20px auto;
  background-color: var(--base-color);
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.foreign-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foreign-info-box > h2 {
  margin: 20px 0;
}
.foreign-info-box > .region-info-box > span {
  margin: 10px;
}
.foregin-itinerary-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.itinerary-input-box {
  padding: 50px 0;
}

.itinerary-input-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.itinerary-input-item > p {
  margin: 0 15px;
}

.itinerary-input {
  width: 300px;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  margin: 10px 0;
  background-color: transparent;
  line-height: 45px;
  font-size: 15px;
  padding-left: 15px;
  font-family: "SUITE-Regular";
}

.create-button-box {
  text-align: center;
  padding: 30px 0;
}
.create-button-box > button {
  margin-left: 20px;
  width: 500px;
  height: 50px;
  box-sizing: border-box;
  font-family: "SUITE-Regular";
}

/* ForeignPlanMain */
.plan-view-wrap {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.plan-view-wrap > div {
  float: left;
  text-align: center;
}
.plan-view-wrap > div > div {
  margin: 20px 0;
}

/* ForeignPlanList */
.plan-list-wrap {
  width: 350px;
}
.itinerary-info-box > h5 {
  margin-bottom: 5px;
}
.plan-map-wrap {
  width: calc(100% - 700px);
}
.edit-itinerary-button {
  color: var(--main-color);
  font-size: 13px;
}
.edit-itinerary-button:hover {
  text-decoration: underline;
}
.daily-plan-list-box > h5 {
  text-align: center;
  color: var(--main-color);
  margin: 20px 0;
}
.daily-plan-list {
  padding: 0 10px;
}
.plan-item-list {
  height: 400px;
  overflow: auto;
  background-color: var(--base-color);
  border-radius: 10px;
  padding: 0 10px;

  /* 스크롤바 제거 */
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.plan-item-list::-webkit-scrollbar {
  display: none; /* 스크롤바 제거 ( 크롬, 사파리, 오페라, 엣지 ) */
}
.edit-button {
  margin: 20px auto;
  background-color: var(--base-color);
  color: black;
}
.edit-button:hover {
  cursor: pointer;
  background-color: var(--base-color);
  color: black;
}
.edit-button-active {
  margin: 20px auto;
}

/* ForeignRegionInfo */
.plan-region-wrap {
  width: 350px;
}

/* ForeignPlanSearch */
.plan-search-wrap {
  width: 350px;
}

/* ForeignPlanDaysButton */
.daily-plan-box {
  padding-top: 20px;
}
.plan-dates-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-dates-list > li {
  border: 1px solid var(--main-color);
  width: 80px;
  padding: 10px;
  color: var(--main-color);
  font-weight: 600;
}
.plan-dates-list > li:hover {
  cursor: pointer;
}
.plan-dates-list > li:nth-child(2) {
  border-right: none;
}
.plan-dates-list > li:nth-child(4) {
  border-left: none;
}
.plan-dates-list .selected-day {
  background-color: var(--main-color);
  color: white;
}
.plan-dates-list > li:first-child {
  border: none;
  padding: 0;
  width: 30px;
}
.plan-dates-list > li:last-child {
  border: none;
  padding: 0;
  width: 30px;
}
.plan-dates-list .day-item {
  color: var(--background-color);
}
.plan-dates-list .active {
  color: var(--main-color);
}

/* PlanItem */
.plan-item {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
.plan-item > div {
  justify-content: left;
  align-items: center;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
}
.plan-item-info > div {
  display: flex;
  justify-content: left;
  align-items: center;
}
.plan-seq-box {
  width: 70px;
}
.plan-seq-icon {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 20px;
  margin: 0 auto;
}
.plan-seq-icon:hover {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}
.plan-name-box {
  width: 170px;
  display: flex;
  justify-content: left;
  align-items: centers;
  text-align: left;
  padding: 0 7px;
}
.plan-place-name:hover {
  cursor: pointer;
}
.plan-time > select {
  width: 70px;
  font-size: 11px;
  color: rgb(115, 115, 115);
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
}
.plan-time > select:hover {
  cursor: pointer;
}

.plan-memo {
  width: 100%;
}
.plan-memo > input {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "SUITE-Regular";
  width: 100%;
  padding-left: 7px;
}
.plan-image-box {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-image-box > img {
  height: 100%;
  width: 70px;
  object-fit: cover;
  object-position: center;
  max-height: 70px;
}
.plan-image-box > img:hover {
  cursor: pointer;
}
.plan-item-list > h5 {
  margin: 30px auto;
}

/* ForeignPlanSearch */
.plan-search-wrap {
  /* 임시 */
  /* background-color: gainsboro; */
}
.category-button-ul {
  display: flex;
  justify-content: center;
}
.category-button-ul > li {
  text-align: center;
  width: 130px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 10px;
  font-weight: 600;
  box-sizing: border-box;
}
.category-button-ul > li:hover {
  cursor: pointer;
}
.category-button-ul > .selected {
  color: white;
  background-color: var(--main-color);
}
.place-list,
.flight-list,
.airport-list {
  height: 507px;
  background-color: var(--base-color);
  overflow: auto;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 10px;

  /* 스크롤바 제거 */
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.flight-list {
  height: 400px;
}
.place-list::-webkit-scrollbar,
.flight-list::-webkit-scrollbar,
.airport-list::-webkit-scrollbar {
  display: none; /* 스크롤바 제거 ( 크롬, 사파리, 오페라, 엣지 ) */
}
.place-list > h5,
.flight-list > h5 {
  margin: 30px auto;
}
.airport-list-box {
  margin: 0;
  padding: 0;
}
.airport-list-title {
  margin: 10px;
  font-size: 14px;
  font-weight: 700;
}
.airport-list {
  height: 250px;
  width: 330px;
  background-color: var(--base-color);
}
.place-search-box > input,
.flight-input-box > input {
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--main-color);
  background-color: transparent;
  line-height: 45px;
  font-size: 15px;
  padding-left: 15px;
  font-family: "SUITE-Regular";
  margin-right: 15px;
}
.flight-info-form > div {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flight-input-box > h4 {
  margin: 0;
}
.flight-input-box > input {
  width: 180px;
  margin: 0;
  margin-left: 10px;
}
.flight-time select {
  height: 47px;
  width: 180px;
  margin-left: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  line-height: 45px;
  font-size: 15px;
  padding-left: 15px;
  font-family: "SUITE-Regular";
}
.place-search-box > button {
  width: 65px;
  height: 40px;
  box-sizing: border-box;
}
.flight-input-box > button {
  width: 200px;
  height: 40px;
}
.flight-time > #arrivalTime {
  border: none;
}
.flight-info-form > div:nth-last-child(3) {
  justify-content: right;
}
.next-day-check {
  display: flex;
  justify-content: right;
  margin-right: 35px;
}
.check-icon {
  margin-left: 5px;
  border: 1px solid var(--main-color);
  height: 24px;
  width: 24px;
  border-radius: 20px;
}
.check-icon p {
  color: var(--main-color);
}
.check-icon > span {
  font-size: 17px;
  line-height: 22px;
  color: var(--main-color);
}
.next-day-checkbox input {
  display: none;
}
.icon-checked {
  background-color: var(--main-color);
}
.icon-checked > span {
  color: white;
}

/* ForeignPlaceItem */
.place-item-box {
  height: 110px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.place-list > div:last-child {
  border: none;
}
.place-item-image {
  width: 100px;
  padding: 10px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.place-item-image-box {
  width: 80px;
  height: 80px;
  text-align: center;
  overflow: hidden;
}
.place-item-image-box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 80;
}
.place-item-image-box > img:hover {
  cursor: pointer;
}
.place-item-info {
  width: 80%;
  height: 90px;
}
.place-item-title {
  margin: 10px 0;
  margin-top: 13px;
  padding-right: 10px;
}
.place-item-title:hover {
  cursor: pointer;
}
.place-item-address,
.place-airport-check {
  font-size: 12px;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
  padding-right: 10px;
}
.place-airport-check {
  font-size: 12px;
}
.place-item-add {
  display: flex;
  justify-content: right;
  align-items: center;
}
.place-add-button,
.airport-add-button {
  width: 17px;
  height: 17px;
  border: 2px solid var(--main-color);
  border-radius: 15px;
  box-sizing: content-box;
  color: var(--main-color);
  text-align: center;
  font-weight: 600;
  font-size: 13px;
}
.place-add-button:hover {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}
.airport-add-button > span {
  font-size: 16px;
  font-weight: 600;
}
.airport-add-button:hover {
  background-color: var(--main-color);
}
.airport-add-button:hover > span {
  color: white;
}
.place-info-box {
  width: 300px;
  height: 100px;
}

/* ForeignPlanMap */
.plan-map-wrap {
  height: 700px;
  padding: 0 10px;
}
.foreign-map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.gm-style .gm-style-iw-c {
  padding-left: 15px;
}
.gm-style-iw-chr {
  height: 35px;
}
.gm-style-iw-ch {
  padding: 0;
  margin-top: 20px;
}
.gm-style-iw-d {
  margin: 10px auto;
  padding: 0px;
}
.gm-style-iw-d > div {
  margin-top: 10px;
}
